#ldapimporter .labeled-input > label {
    display: inline-block;
    width: 21em;
}

#ldapimporter .labeled-input > input {
    width: 31em;
}

#ldapimporter .labeled-checkbox {
    display: flex;
    align-items: center;
}

#ldapimporter .cw-100 > * {
    width: 100%;
}

#ldapimporter .footer-actions {
    display: flex;
    justify-content: end;
}
