#ldapimporter .labeled-input > label {
    display: inline-block;
    width: 24em;
}

#ldapimporter .labeled-input > input {
    width: 31em;
}

#ldapimporter .labeled-checkbox {
    display: flex;
    align-items: center;
}

#ldapimporter table {
    width: 100%;
}

#ldapimporter table > thead > tr,
#ldapimporter table > tbody > tr {
  display: grid;
  gap: 4px;
}

#ldapimporter table#nameUaiGroup > thead > tr,
#ldapimporter table#nameUaiGroup > tbody > tr {
    grid-template-columns: 3fr 1fr 1fr 111px;
}

#ldapimporter table#filterGroup > thead > tr,
#ldapimporter table#filterGroup > tbody > tr {
    grid-template-columns: 6fr 2fr 1fr 1fr 111px;
}

#ldapimporter table#pedagogicGroup > thead > tr,
#ldapimporter table#pedagogicGroup > tbody > tr {
    grid-template-columns: 1fr 1fr 3fr 111px;
}

#ldapimporter table > thead > tr > th {
    text-wrap: balance;
}

#ldapimporter table > tbody > tr > td:last-child {
    display: flex;
}

#ldapimporter table > tbody > tr > td > input {
    width: 100%;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: unset;
    box-shadow: unset;
}

#ldapimporter .footer-actions {
    display: flex;
    justify-content: end;
}
