body {
  /* les suppresions d'affichage */
  /* suppression du menu Nouveau modele de formulaire pour OO */
  /* le dimentionnement */
  /* les couleurs */ }
  body#body-public.not_embedded footer {
    /* on supprime dans les liens transmis public les liens de pub nextcloud */
    display: none; }
  body div.section.development-notice {
    display: none; }
  body div#contactsmenu {
    display: none; }
  body div.newFileMenu a.menuitem[data-action="onlyofficeDocxf"][data-filetype="docxf"] {
    display: none; }
  body li[data-id="firstrunwizard-about"], body li[data-id="help"] {
    display: none; }
  body p.social-button {
    display: none; }
  body div#security-password, body div#two-factor-auth {
    display: none; }
  body div#content.app-settings div#app-content div.personal-settings-section {
    display: none; }
  body .personal-settings-container .personal-settings-setting-box:nth-child(n+3) {
    display: none; }
  body .personal-settings-container .personal-settings-setting-box form#displaynameform div.federation-menu, body .personal-settings-container .personal-settings-setting-box form#emailform div.federation-menu {
    display: none; }
  body .personal-settings-container .personal-settings-setting-box form#phoneform, body .personal-settings-container .personal-settings-setting-box form#addressform, body .personal-settings-container .personal-settings-setting-box form#websiteform, body .personal-settings-container .personal-settings-setting-box form#twitterform {
    display: none; }
  body .personal-settings-container .personal-settings-setting-box form#emailform > em {
    display: none; }
  body div#accessibility > p {
    display: none; }
  body div#fileSharingSettings.section {
    display: none; }
  body div#clientsbox + div.section {
    display: none; }
  body.embedded .viewcontainer div#rich-workspace #editor {
    max-height: 15em; }
  body div#settings div#expand.menutoggle div.avatardiv.avatardiv-shown {
    display: none; }
    body div#settings div#expand.menutoggle div.avatardiv.avatardiv-shown + div#expandDisplayName {
      display: block; }

/*
@media only screen and (min-width: 1025px) {
body {
	&.embedded { 
			height:auto; 
			div#app-navigation {
				position : static;
				&:not(.hidden) + #app-content {
					margin-left: 1%;
				}
			}
		}
		
	}
}
*/
body.embedded li[data-id="logout"] {
  display: none; }

body.clg18.not_embedded#body-user #header, body.clg18.not_embedded#body-settings #header, body.clg18.not_embedded#body-public #header {
  background-color: #004899;
  background-image: none; }
  body.clg18.not_embedded#body-user #header a#nextcloud, body.clg18.not_embedded#body-user #header ul#appmenu, body.clg18.not_embedded#body-user #header div.header-right, body.clg18.not_embedded#body-settings #header a#nextcloud, body.clg18.not_embedded#body-settings #header ul#appmenu, body.clg18.not_embedded#body-settings #header div.header-right, body.clg18.not_embedded#body-public #header a#nextcloud, body.clg18.not_embedded#body-public #header ul#appmenu, body.clg18.not_embedded#body-public #header div.header-right {
    background-color: #004899; }
body.clg41.not_embedded#body-user #header, body.clg41.not_embedded#body-settings #header, body.clg41.not_embedded#body-public #header {
  background-color: #009FE3;
  background-image: none; }
  body.clg41.not_embedded#body-user #header a#nextcloud, body.clg41.not_embedded#body-user #header ul#appmenu, body.clg41.not_embedded#body-user #header div.header-right, body.clg41.not_embedded#body-settings #header a#nextcloud, body.clg41.not_embedded#body-settings #header ul#appmenu, body.clg41.not_embedded#body-settings #header div.header-right, body.clg41.not_embedded#body-public #header a#nextcloud, body.clg41.not_embedded#body-public #header ul#appmenu, body.clg41.not_embedded#body-public #header div.header-right {
    background-color: #009FE3; }
body.clg37.not_embedded#body-user #header, body.clg37.not_embedded#body-settings #header, body.clg37.not_embedded#body-public #header {
  background-color: #c60440;
  background-image: none; }
  body.clg37.not_embedded#body-user #header a#nextcloud, body.clg37.not_embedded#body-user #header ul#appmenu, body.clg37.not_embedded#body-user #header div.header-right, body.clg37.not_embedded#body-settings #header a#nextcloud, body.clg37.not_embedded#body-settings #header ul#appmenu, body.clg37.not_embedded#body-settings #header div.header-right, body.clg37.not_embedded#body-public #header a#nextcloud, body.clg37.not_embedded#body-public #header ul#appmenu, body.clg37.not_embedded#body-public #header div.header-right {
    background-color: #c60440; }
body.agri.not_embedded#body-user #header, body.agri.not_embedded#body-settings #header, body.agri.not_embedded#body-public #header {
  background-color: #2d8c17;
  background-image: none; }
  body.agri.not_embedded#body-user #header a#nextcloud, body.agri.not_embedded#body-user #header ul#appmenu, body.agri.not_embedded#body-user #header div.header-right, body.agri.not_embedded#body-settings #header a#nextcloud, body.agri.not_embedded#body-settings #header ul#appmenu, body.agri.not_embedded#body-settings #header div.header-right, body.agri.not_embedded#body-public #header a#nextcloud, body.agri.not_embedded#body-public #header ul#appmenu, body.agri.not_embedded#body-public #header div.header-right {
    background-color: #2d8c17; }
body.esco.not_embedded#body-user #header, body.esco.not_embedded#body-settings #header, body.esco.not_embedded#body-public #header {
  background-color: #25b2f3;
  background-image: none; }
  body.esco.not_embedded#body-user #header a#nextcloud, body.esco.not_embedded#body-user #header ul#appmenu, body.esco.not_embedded#body-user #header div.header-right, body.esco.not_embedded#body-settings #header a#nextcloud, body.esco.not_embedded#body-settings #header ul#appmenu, body.esco.not_embedded#body-settings #header div.header-right, body.esco.not_embedded#body-public #header a#nextcloud, body.esco.not_embedded#body-public #header ul#appmenu, body.esco.not_embedded#body-public #header div.header-right {
    background-color: #25b2f3; }
body.clg45.not_embedded#body-user #header, body.clg45.not_embedded#body-settings #header, body.clg45.not_embedded#body-public #header {
  background-color: #26448a;
  background-image: none; }
  body.clg45.not_embedded#body-user #header a#nextcloud, body.clg45.not_embedded#body-user #header ul#appmenu, body.clg45.not_embedded#body-user #header div.header-right, body.clg45.not_embedded#body-settings #header a#nextcloud, body.clg45.not_embedded#body-settings #header ul#appmenu, body.clg45.not_embedded#body-settings #header div.header-right, body.clg45.not_embedded#body-public #header a#nextcloud, body.clg45.not_embedded#body-public #header ul#appmenu, body.clg45.not_embedded#body-public #header div.header-right {
    background-color: #26448a; }
body.clg36.not_embedded#body-user #header, body.clg36.not_embedded#body-settings #header, body.clg36.not_embedded#body-public #header {
  background-color: #0069B3;
  background-image: none; }
  body.clg36.not_embedded#body-user #header a#nextcloud, body.clg36.not_embedded#body-user #header ul#appmenu, body.clg36.not_embedded#body-user #header div.header-right, body.clg36.not_embedded#body-settings #header a#nextcloud, body.clg36.not_embedded#body-settings #header ul#appmenu, body.clg36.not_embedded#body-settings #header div.header-right, body.clg36.not_embedded#body-public #header a#nextcloud, body.clg36.not_embedded#body-public #header ul#appmenu, body.clg36.not_embedded#body-public #header div.header-right {
    background-color: #0069B3; }
body.clg28.not_embedded {
  /* @include colorTheme(#FFCC00); */ }
  body.clg28.not_embedded#body-user #header, body.clg28.not_embedded#body-settings #header, body.clg28.not_embedded#body-public #header {
    background-color: #303030;
    background-image: none; }
    body.clg28.not_embedded#body-user #header a#nextcloud, body.clg28.not_embedded#body-user #header ul#appmenu, body.clg28.not_embedded#body-user #header div.header-right, body.clg28.not_embedded#body-settings #header a#nextcloud, body.clg28.not_embedded#body-settings #header ul#appmenu, body.clg28.not_embedded#body-settings #header div.header-right, body.clg28.not_embedded#body-public #header a#nextcloud, body.clg28.not_embedded#body-public #header ul#appmenu, body.clg28.not_embedded#body-public #header div.header-right {
      background-color: #303030; }
body.embedded#body-user #header, body.embedded#body-settings #header, body.embedded#body-public #header {
  background-color: #888888;
  background-image: none; }
  body.embedded#body-user #header a#nextcloud, body.embedded#body-user #header ul#appmenu, body.embedded#body-user #header div.header-right, body.embedded#body-settings #header a#nextcloud, body.embedded#body-settings #header ul#appmenu, body.embedded#body-settings #header div.header-right, body.embedded#body-public #header a#nextcloud, body.embedded#body-public #header ul#appmenu, body.embedded#body-public #header div.header-right {
    background-color: #888888; }

/*# sourceMappingURL=reciaStyle.css.map */
