@use 'sass:color';

$extended-uportal-header-height: var(--recia-header-height, 68px);
$header-height: calc($extended-uportal-header-height + var(--header-height));
$extended-uportal-footer-visible-height: 10px;

// ---------- MAIN  ----------

html {
	font-size: unset !important;
}

// Suppression des bords arrondis et recalcul de la largeur
body {
	--body-container-radius: 0px;
	--body-container-margin: 0px;
	--body-height: calc(100% - var(--header-height));

	&#body-user,
	&#body-settings {
		--body-height: calc(100% - #{$header-height} - #{$extended-uportal-footer-visible-height});
	}
}

// ---------- EXTENDED UPORTAL HEADER  ----------

body #escoDiv extended-uportal-header {
	// Fixe le bandeau ENT au chagement
	display: block;
	height: $extended-uportal-header-height;
	width: 100%;
	position: fixed;
	z-index: 2100;
}

// ---------- NEXTCLOUD HEADER ----------

body {
	&#body-user,
	&#body-settings {
		// Fixe le bandeau ENT au chargement
		> #escoDiv {
			height: $extended-uportal-header-height;
		}

		header#header {
			// Déplacement du bandeau nextcloud par rapport au bandeau ENT
			top: $extended-uportal-header-height;

			// Ajout du scroll sur la liste des applications
			> .header-start > nav {
				overflow-x: auto;
				scrollbar-width: none;
			}

			> .header-end {
				// Masquage du menu contacts
				> #contactsmenu {
					display: none;
				}

				// Correction du placement à l'ouverture des menu
				.header-menu__wrapper {
					--header-height: #{$header-height};
				}
			}
		}
	}
}

// ---------- EXTENDED UPORTAL FOOTER ----------

// Masquage du bandeau ENT par défaut
body > footer.escoDiv {
	display: none;
}

// Affichage du bandau au survol du header et quand on quitte la fenetre
// seulement pour les écran non tactiles et le body user
@media only screen and (hover: hover) and (pointer: fine) {
	body {
		&#body-user:not(:has(iframe#onlyofficeFrame, main#content.app-onlyoffice)),
		&#body-settings {
			> footer.escoDiv {
				display: unset;
				position: fixed;
				z-index: 2000;
				bottom: 0;
				right: 0;
				left: 0;
				transition: transform .2s;

				&:hover {
					transform: translateY(0) !important;
				}
			}

			&:hover {
				> footer.escoDiv {
					transform: translateY(calc(100% - $extended-uportal-footer-visible-height));
				}

				> #escoDiv:hover ~ footer.escoDiv {
					transform: translateY(0);
				}
			}
		}
	}
}

// ---------- NEXTCLOUD FOOTER ----------

// Suppression de la pub nextcloud
body#body-public.not_embedded footer {
	display: none;
}

// ---------- PARAMETRES ----------

body#body-settings #app-content {
	// Panel "Informations personnelles"
	&[data-active-section-id="personal-info"] {
		#personal-settings .personal-settings-setting-box {
			// Masquages des paramétrages du profil
			&:has(input, textarea) {
				display: none;
			}
	
			// Possibilité de changer le displayname et la langue
			&:has(input#account-property-displayname, input#account-setting-language) {
				display: unset;
			}
		}
	
		// Masquage des paramètres de visibilité du profil
		.personal-settings-section {
			display: none;
		}
	
		// Masquage des informations de dev
		.section.development-notice {
			display: none;
		}	
	}

	// Panel "Sécurité"
	&[data-active-section-id="security"] {
		// Masquage du changement de mot de passe
		.settings-section:has(form#passwordform){
			display: none;
		}

		// Masquage de l'authentification sans mot de passe
		#security-webauthn.section {
			display: none;
		}
	}

	// Panel "Apparence et accessibilité"
	&[data-active-section-id="theming"] section .settings-section{
		// Masquage des options d'aparence
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(5) {
			display: none;
		}
	}
}

// ---------- ONLY OFFICE ----------

// Attention : OO passe de 2 iframe à 1 iframe au rechargement de la page
 
body {
	&#body-user {
		// A l'ouverture
		iframe#onlyofficeFrame {
			height: calc(100vh - calc($extended-uportal-header-height - 8px))
		}

		// Au refresh de la page
		main#content.app-onlyoffice > #app > iframe {
			height: calc(100vh - $header-height);
		}
	}

	// Partages par lien public
	&#body-public main#content {
		iframe.onlyoffice-inline,
		> #app-content > iframe#onlyofficeFrame {
			height: calc(100vh + 8px);
		}
	}

	// TODO: verifier si toujours utilisé
	&.embedded .viewcontainer div#rich-workspace #editor {
		max-height : 15em;
	}

	// TODO: verifier si toujours utilisé
	// suppression du menu Nouveau modele de formulaire pour OO
	div.newFileMenu a.menuitem[data-action="onlyofficeDocxf"][data-filetype="docxf"] {
		display: none;
	}
}

// ---------- FILES_SHARING ----------

body {
	#app-sidebar-vue {
		// Redimensionnement des previews dans la colonne des partages pour plus de lisibilité
		.app-sidebar-header:not(.app-sidebar-header--compact) {
			.app-sidebar-header__figure {
				height: 10vh !important;
				background-size: cover !important;
				transition: 
					height .4s 0s ease,
					max-height .4s 0s ease;

				&:hover {
					height: 35vh !important;
					max-height: 350px;
				}
			}
		}
	
		// Fix le scroll dans le menu de partage
		.sharingTab {
			height: unset !important;
		}
	}
}

// ---------- COULEURS ----------

@function contrast-color($color, $dark, $light) {
  @return if(color.channel($color, 'lightness', hsl) < 55%, $light, $dark);
}

@mixin colorTheme($couleur) {
	// Suppression du background
	--image-background: none;
	--color-background-plain: var(--color-main-background);

	// Colorisation des éléments primaires
	--color-primary-element: #{$couleur};
	--color-primary-element-text: #{contrast-color($couleur, #222222, #ffffff)};
	--color-primary-element-hover: #{$couleur};

	// Fixe les couleurs du header Nextcloud
	--color-background-plain-text: #ffffff;
	--background-image-invert-if-bright: none;

	header#header {
		background-color: $couleur;
	}

	#escoDiv {
		background-color: $couleur;
	}

	#app-navigation,
	#app-navigation-vue {
		// Couleur de background de la navigation
		background-color: var(--color-background-hover);

		// Couleur de hover sur les éléments de navigation
		> * {
			--color-background-hover: #{rgba($couleur, .15)};
		}
	}
}

body {
	&.not_embedded {
		&.clg18 {
			@include colorTheme(#004899);
		}
	
		&.clg41 {
			@include colorTheme(#009FE3);
		}
	
		&.clg37 {
			@include colorTheme(#c60440);
		}
	
		&.agri {
			@include colorTheme(#2d8c17);
		}
	
		&.esco {
			@include colorTheme(#25b2f3);
		}
	
		&.clg45 {
			@include colorTheme(#26448a);
		}
	
		&.clg36 {
			@include colorTheme(#0069B3);
		}
	
		&.clg28 {
			@include colorTheme(#303030);
		}
	}

	&.embedded {
		@include colorTheme(#888888);
	}
}
