$extended-uportal-header-height: 38px;
$nextcloud-header-height: 50px;
$header-height: $extended-uportal-header-height + $nextcloud-header-height;

// ---------- MAIN  ----------

// Suppression des bords arrondis et recalcul de la largeur
%fullscreen {
	width: 100%;
	border-radius: 0;
	margin-right: 0;
	margin-left: 0;
	padding-bottom: 0;
}

// Recalcul de la hauteur
body {
	&#body-user,
	&#body-settings {
		> main#content,
		> div#content-vue.content {
			@extend %fullscreen;
			height: calc(100% - $header-height);
		}
	}

	// Partages par lien public
	&#body-public > main#content {
		@extend %fullscreen;
		height: calc(100% - $nextcloud-header-height);
	}
}

// ---------- EXTENDED UPORTAL HEADER  ----------

body #escoDiv extended-uportal-header {
	// Fixe le bandeau ENT au chagement
	position: fixed;
	width: 100%;
	z-index: 2100;

	// Placement du slot par défaut
	> div[slot=not-loaded] {
		text-align: end;
		padding: 8px 16px;
	}
}

// ---------- NEXTCLOUD HEADER ----------

body {
	&#body-user,
	&#body-settings {
		// Fixe le bandeau ENT au chargement
		> #escoDiv {
			height: $extended-uportal-header-height;
		}

		header#header {
			// Déplacement du bandeau nextcloud par rapport au bandeau ENT
			top: $extended-uportal-header-height;
			height: $nextcloud-header-height;

			// Ajout du scroll sur la liste des applications
			> .header-left > nav {
				overflow-x: auto;
				scrollbar-width: none;
			}

			// Masquage du menu contacts
			> .header-right > #contactsmenu {
				display: none;
			}
		}
	}
}

// ---------- EXTENDED UPORTAL FOOTER ----------

// Masquage du bandeau ENT par défaut
body > footer.escoDiv {
	display: none;
}

// Affichage du bandau au survol du header et quand on quitte la fenetre
// seulement pour les écran non tactiles
@media only screen and (hover: hover) {
	body {
		> footer.escoDiv {
			display: unset;
			position: fixed;
			z-index: 2000;
			bottom: 0;
			right: 0;
			left: 0;
			transition: bottom .2s;
		}

		&:hover {
			> footer.escoDiv {
				bottom: -60px;
			}

			> #escoDiv:hover ~ footer.escoDiv {
				bottom: 0;
			}
		}
	}
}

// ---------- ONLY OFFICE ----------

/*
 * Attention : OO passe de 2 iframe à 1 iframe au rechargement de la page
 */

/*
 * pour onlyoffice avec notre bandeau large
 * ne doit plus être fonctionnel
 */
// div#content > div#app-content > iframe#onlyofficeFrame {
// 	height: calc(100vh - 90px);
// }

// ---------- FILES_SHARING ----------

body {
	// Redimensionnement des previews dans la colonne des partages pour plus de lisibilité
	.app-sidebar-header:not(.app-sidebar-header--compact) {
		.app-sidebar-header__figure {
			height: 10vh !important;
			background-size: cover !important;
			transition: 
				height .4s 0s ease,
				max-height .4s 0s ease;

			&:hover {
				height: 35vh !important;
				max-height: 350px;
			}
		}
	}
}

// ---------- COULEURS ----------

@mixin colorTheme($couleur) {
	--color-primary-element: #{$couleur};
	--color-primary-element-hover: #{$couleur};

	header#header {
		background-color: $couleur;
	}

	#escoDiv {
		background-color: $couleur;
	}

	#app-navigation,
	#app-navigation-vue {
		background-color: var(--color-background-hover);

		> * {
			--color-background-hover: #{rgba($couleur, .15)};
		}
	}

	extended-uportal-header {
		--ext-header-tpl-primary-color: #{$couleur} !important;
	}
}

body {
	--image-background: none;
	--color-background-plain: var(--color-main-background);

	&.not_embedded {
		&.clg18 {
			@include colorTheme(#004899);
		}
	
		&.clg41 {
			@include colorTheme(#009FE3);
		}
	
		&.clg37 {
			@include colorTheme(#c60440);
		}
	
		&.agri {
			@include colorTheme(#2d8c17);
		}
	
		&.esco {
			@include colorTheme(#25b2f3);
		}
	
		&.clg45 {
			@include colorTheme(#26448a);
		}
	
		&.clg36 {
			@include colorTheme(#0069B3);
		}
	
		&.clg28 {
			@include colorTheme(#303030);
		}
	}

	&.embedded {
		@include colorTheme(#888888);
	}
}

// ---------- OLD ----------

body {
	&#body-user,
	&#body-settings {
		/* le style venue de la mise en place du bandeau */

		&>main#content {
			div#app-navigation-vue {
				padding-bottom: 10px;
				/* pour l'aisser passer l'affichage des url */
			}

			div#app-content label#view-toggle.button {
				opacity: 1;
				border-radius: 0;
				top: 0px;
				right: 0px;
			}
		}

		/* Style du bandeau ENT */
		&>div#escoDiv {

			&#escoDiv.content {
				padding-top: 88px; // pour Applications
			}

			&>header#header.escoDivWrapper {

				div.header-left ul li a {
					height: 50px;
					width: 50px;
				}

				.header-right {

					&>div#settings>*,
					&>div#contactsmenu>*,
					&>div.notifications>.menu {
						top: 50px;
						max-height: calc(100vh - 63px * 4);
					}

					&>div>.menutoggle,
					&>form>.menutoggle {
						width: 50px;
					}

					&>div>div.header-menu__wrapper {
						top: unset;
					}
				}
			}
		}

		/* pour OO bizarrement sur un ^R oo change les id et les class de certains tag */

		iframe#onlyofficeFrame {
			height: calc(100vh - 30px)
		}

		main#content {

			&>div#app-content>iframe#onlyofficeFrame {
				height: calc(100vh - 30px);
			}

			&.app-onlyoffice>div#app>iframe {
				height: calc(100vh - 88px);
			}
		}

		&.onlyoffice-inline main#content {
			margin-bottom: 0;
			bottom: 0;
			border-radius: 0;
		}

		/* fin OO */

		/* pour MD */
		main#content.app-files>aside#app-sidebar-vue.app-sidebar--full {
			z-index: 3000 !important;
		}

		/* fin MD */

		/* pour Notes */
		div.content.app-notes div.app-navigation__content {
			height: calc(100% - 35px);
		}

		/* fin notes */

	}

	/* fin integration bandeau */


	/* les suppresions d'affichage */
	/* suppression du warning indiquant la non prise encharge et l'arret des notification push */
	&#body-settings div#content div#app-content div.section div.warning {
		display: none;
	}

	&#body-public.not_embedded {
		footer {
			/* on supprime dans les liens transmis public les liens de pub nextcloud */
			display: none;
		}
	}

	&#body-public.layout-base.embedded {
		div#content.app-public>div#app>iframe {
			height: calc(100vh - 52px);
		}
	}

	div.section.development-notice {
		display: none;
	}

	/* suppression du menu Nouveau modele de formulaire pour OO */
	div.newFileMenu a.menuitem[data-action="onlyofficeDocxf"][data-filetype="docxf"] {
		display: none;
	}


	li[data-id="firstrunwizard-about"],
	li[data-id="help"] {
		display: none;
	}

	p.social-button {
		display: none;
	}

	div#security-password,
	div#two-factor-auth {
		display: none;
	}

	/* panel information personnelles à supprimer */
	div#personal-settings div.personal-settings-setting-box {
		&:has(input, textarea) {
			display: none;
		}

		&:has(input#account-property-displayname) {
			display: inline;
		}
	}

	div.personal-settings-section {
		display: none;
	}

	/* panel securité à supprimer */
	div.settings-section:has(form#passwordform),
	div#security-webauthn.section {
		display: none;
	}

	/* panel Apparence et accessibilité à supprimer */
	div.theming__preview-list:has(div.theming__preview.theming__preview--opendyslexic)~h3,
	div.theming__preview-list:has(div.theming__preview.theming__preview--opendyslexic)~span {
		display: none;
	}

	div.settings-section.theming.settings-section--limit-width:has(div.theming__preview.theming__preview--opendyslexic)~div {
		display: none;
	}

	/* le dimentionnement */

	/* pour les publics (par lien public) */
	&#body-public main#content {

		iframe.onlyoffice-inline {
			/* pour oo */
			height: calc(100vh + 8px);

			main#content {
				border-radius: 0;
				margin-left: 0;
				width: 100%;
				height: 100%;
			}
		}

		/* pour OO bizarrement sur un ^R oo change les id et les class de certains tag */

		&>div#app-content>iframe#onlyofficeFrame {
			height: calc(100vh + 8px);
		}

		// &.app-onlyoffice>div#app>iframe {
		// 	height: calc(100vh - 88px);
		// }

		&.onlyoffice-inline main#content {
			margin-bottom: 0;
			bottom: 0;
			border-radius: 0;
		}

		/* fin OO */
	}

	&.embedded .viewcontainer div#rich-workspace #editor {
		max-height: 15em;
	}

	div#settings div#expand.menutoggle {
		div.avatardiv.avatardiv-shown {
			&+div#expandDisplayName {
				display: block;
			}

			display: none;
		}
	}
}

body.embedded {
	li[data-id="logout"] {
		display: none;
	}
}
