
body {

/* les suppresions d'affichage */
	div#contactsmenu {
		display: none;
	}
	li[data-id="firstrunwizard-about"],  li[data-id="help"],{
	display: none;
	}
	p.social-button {
		display: none;
	}
	div#security-password ,div#two-factor-auth {
		display:none;
	}
	div.personal-settings-setting-box form {
		&#displaynameform , &#emailform {
			div.federation-menu {
				display :none;
			}
		}
		&#phoneform, &#addressform, &#websiteform, &#twitterform {
			display :none;
		}
		&#emailform > em {
			display : none;
		}
	
	}
	

/* les couleurs */

	&#body-user #header, &#body-settings #header, &#body-public #header {
//		background-image: linear-gradient(40deg, #4c4ac9 0%, #99d5e0 100%);
		background-image: none;
//		background-color: #F3F3F3;
		background-color: #888888; // #d0d0d0; // la couleur du bandeau
//		border: 2px solid #F3F3F3;
/*		margin-bottom: 2px;*/
		a#nextcloud , ul#appmenu, div.header-right {
			color: black;
/*			height: 50px; */
		}
	}
	
	
	
	div#settings div#expand.menutoggle  { 
		div.avatardiv.avatardiv-shown {
			&+ div#expandDisplayName {
				display: block;
			}
			display: none;
		}
	}
}

/*
@media only screen and (min-width: 1025px) {
body {
	&.embedded { 
			height:auto; 
			div#app-navigation {
				position : static;
				&:not(.hidden) + #app-content {
					margin-left: 1%;
				}
			}
		}
		
	}
}
*/

body.embedded {
	li[data-id="logout"] {
	display: none;
	}
}

// les couleurs spécifiques:
@mixin colorTheme($couleur) {
	&#body-user #header, &#body-settings #header, &#body-public #header {
	//	background-image: linear-gradient(30deg, $couleur 0%, #f3F3F3 40% , #F3F3F3 59% ,$couleur 100%);
	
			a#nextcloud , ul#appmenu, div.header-right {
			background-color: #888888; //$couleur;
		//	background-color: transparent;
		}
		}
}

body {
    &.clg37{
        @include colorTheme(#c60440);
    }
    &.agri{
        @include colorTheme(#2d8c17);
    }
    &.esco {
        @include colorTheme(#25b2f3);
    }
}
