body {

/* les suppresions d'affichage */
	&#body-public.not_embedded footer {
		/* on supprime dans les liens transmis public les liens de pub nextcloud */
		display: none;
	}

	div.section.development-notice {
		display: none;
	}

	div#contactsmenu {
		display: none;
	}

	/* suppression du menu Nouveau modele de formulaire pour OO */
	div.newFileMenu a.menuitem[data-action="onlyofficeDocxf"][data-filetype="docxf"] {
		display: none;
	}



	
	li[data-id="firstrunwizard-about"],  li[data-id="help"],{
	display: none;
	}
	p.social-button {
		display: none;
	}
	div#security-password ,div#two-factor-auth {
		display:none;
	}

	.personal-settings-container {
		.personal-settings-setting-box:nth-child(n+3) {
			display: none;
		}

		.personal-settings-setting-box form {
			&#displaynameform , &#emailform {
				div.federation-menu {
					display :none;
				}
			}
		&#phoneform, &#addressform, &#websiteform, &#twitterform {
			display :none;
		}
		&#emailform > em {
			display : none;
		}
	
		}
	}
	
	div#accessibility > p {
		display : none;
	}
	
	div#fileSharingSettings.section {
		display : none;
	}
	div#clientsbox + div.section {
		display :none;
	}
/* le dimentionnement */
	
	&.embedded .viewcontainer div#rich-workspace #editor {
		max-height : 15em;
	}
/* les couleurs */
	
	
	div#settings div#expand.menutoggle  { 
		div.avatardiv.avatardiv-shown {
			&+ div#expandDisplayName {
				display: block;
			}
			display: none;
		}
	}
}

/*
@media only screen and (min-width: 1025px) {
body {
	&.embedded { 
			height:auto; 
			div#app-navigation {
				position : static;
				&:not(.hidden) + #app-content {
					margin-left: 1%;
				}
			}
		}
		
	}
}
*/

body.embedded {
	li[data-id="logout"] {
	display: none;
	}
}

// les couleurs spécifiques:
@mixin colorTheme($couleur) {
	&#body-user #header, &#body-settings #header, &#body-public #header {	
			a#nextcloud , ul#appmenu, div.header-right {
			background-color: $couleur;
		}
		background-color: $couleur;
		background-image: none;
	}
}


body {
	&.clg18.not_embedded {
        @include colorTheme(#004899);
    }
	&.clg41.not_embedded {
        @include colorTheme(#009FE3);
    }
    &.clg37.not_embedded {
        @include colorTheme(#c60440);
    }
    &.agri.not_embedded {
        @include colorTheme(#2d8c17);
    }
    &.esco.not_embedded  {
        @include colorTheme(#25b2f3);
    }
    &.clg45.not_embedded  {
        @include colorTheme(#26448a);
    }
    &.clg36.not_embedded  {
        @include colorTheme(#0069B3);
    }
    &.clg28.not_embedded  {
        /* @include colorTheme(#FFCC00); */
         @include colorTheme(#303030);
    }
    &.embedded {
		@include colorTheme(#888888);
	}
    
}
