# les regex  sont testées dans l'ordre
# un même groupe (ldap) peut matcher  plusieurs regex
#   si il match une regex et sa definition contient "last: ifMatch" il ne sera pas representé aux autres regex 
# une 'regex' définit un ensemble de 'group' NC, fonction des groupes Grouper qui match.
# a chaque 'group' on peut associer:
#   un 'quotaG' qui definit le quota des membres du groupe, sans quota un utilisateur ne sera pas créé (il peut l'être avec un autre groupe).
#   un groupFolder 'folder' si on a un 'quotaF' le groupfolder sera créé/modifié sinon le groupe sera associé au groupfolder ssi il existe.
#   permF definit les droits du groupe sur le groupefolder  


---
suffixGroup: ':LDAP'  # tous les identifiants de groupes NC géré par cette appli finissent par :LDAP
etabs:
  - nom: GIP-RECIA
    siren: 18450311800046
    ldapFilterGroups: '(|(cn=coll:Collectivites:GIP-RECIA:Services:*)(cn=coll:admin:central)(cn=coll:Collectivites:GIP-RECIA:groupes_locaux:ASC:*)(cn=coll:Collectivites:GIP-RECIA:groupes_locaux:PLL-ISSR)(cn=coll:Applications:Nextcloud_GIP-RECIA:*))'
    regexes:  
      - regex: '^coll:Collectivites:(GIP-RECIA):Services:([^:]+):(?:Tous_)(\2)$'
        last: ifMatch
        groups:
          - group: 'GIP-RECIA'
            folders:
              - folder: 'GIP-RECIA'
                permF: []
                quotaF: 100
              - folder: 'GIP-RECIA/Commun'
                permF:
                  - write
                  - delete
                quotaF: 100
          - group: '%2$s.%1$s'
            folder: '%1$s/%2$s'
            quotaF: 100
            permF:
              - write
              - share
              - delete
            
      - regex: '^coll:Collectivites:(GIP-RECIA):Services:(SNC):(PNM)$'
        last: ifMatch
        groups:
          - group: 'GIP-RECIA'
          - group: '%2$s.%1$s'
          - group: '%3$s.%1$s'
            folder: '%1$s/%2$s/%3$s'
            quotaF: 200
            permF:
              - write
              - share
              - delete
      - regex: '^coll:Collectivites:GIP-RECIA:groupes_locaux:PLL-ISSR$'
        group: 'PLL.ISSR.GIP-RECIA'
        folder: 'GIP-RECIA/PLL-ISSR'
        quotaF: 100
        permF:
          - write
          - share
          - delete
      - regex: '^coll:Collectivites:(GIP-RECIA):Services:(GSI|E-éducation - Logiciels libres):(ISSR|Tous_E-éducation - Logiciels libres)$'
        groups:
          - group: '%2$s.%1$s'
          - group: '%3$s.%1$s'
            folder: 'GIP-RECIA/PLL-ISSR'
            quotaF: 100
            permF:
              - write
              - share
              - delete
      - regex: '^coll:Collectivites:(GIP-RECIA):Services:([^:]+):([^:]+)$'
        last: ifMatch
        groups:
          - group: 'GIP-RECIA'
          - group: '%2$s.%1$s'
          - group: '%3$s.%1$s'
            folder: '%1$s/%2$s/%3$s'
            quotaF: 100
            permF:
              - write
              - share
              - delete
      - regex: ^coll:Applications:Nextcloud_GIP-RECIA:([^:]+):([^:]+):([^:]+)$'
        last: ifMatch
        group: '%3$s.%1$s.%2$s'
      - regex: ^coll:Applications:Nextcloud_(GIP-RECIA):([^:]+):([^:]+)$'
        last: ifMatch
        group: '%2$s.%3$s'
#     - regex: '^coll:admin:central$'
#       group: 'admin.central'
#        folder: 'GIP-RECIA'
#        permF:
#          - write
#          - delete
#        admin: '^GIP-RECIA((/.+)(/.+)?)?'

    # les regles pour l'asc:
      - regex: '^coll:Collectivites:(GIP-RECIA):groupes_locaux:ASC:(Membres_ASC)$'
        group: ASC.GIP-RECIA
        folder: 'ASC'
        permF: []
        quotaF: 1
        
      - regex: '^coll:Collectivites:(GIP-RECIA):groupes_locaux:(ASC):(ASC_[^:]+)$'
        groups:
          - group: '%2$s.%1$s'
            folder: 'ASC'
            permF: []
            quotaF: 1
          - group: '%3$s.%1$s'
            folder: 'ASC/%3$s'
            permF:
              - write
              - share
              - delete
            quotaF: 100
             
      - regex: '^coll:Collectivites:(GIP-RECIA):groupes_locaux:(ASC):(ASC_Bureau)$'
        groups:
          - group: '%3$s.%1$s'
            admin: '^ASC(/.*)?$'
  #~ - nom: Region Centre
    #~ siren: 23450002300028
    #~ ldapFilterGroups: '(| (cn=coll:Collectivites:Région Centre:services:DGEECVC - DEJS:NUMÉRIQUE EDUCATIF)(cn=coll:Collectivites:Région Centre:services:DGEECVC - DEJS:SNE - EQUIPE*))'
    #~ regexes:
      #~ - regex: '^coll:Collectivites:Région Centre:services:DGEECVC - DEJS:NUMÉRIQUE EDUCATIF$'
        #~ group: 'responsables-SNE.Region Centre:LDAP'
        #~ quotaG: 1
      #~ - regex: '^coll:Collectivites:Région Centre:services:DGEECVC - DEJS:SNE - EQUIPE (NORD|EST|OUEST|SUD)$'
        #~ group: 'equipes-SNE.Region Centre:LDAP'
        #~ quotaG: 1
...
